#carrossel{
    padding-bottom: 10px;
}

#logo{
    padding: 10px;
}

.iconeUsuario{
    font-size: 20px;
}

.iconeUsuario span.btn.glyphicon.glyphicon-user{
	font-size: 20px;
    padding: 0;
    padding-bottom: 3%;
}



.carrinho{
	font-size: 20px;
}

.panelTopButtons{
	padding-top:4%;
		width: 50%;
}

.panelTopButtons1{
	padding-top:5%;
	width: 50%;
}
/* #iconeCarrinho{ */
/*     font-size: 25px; */
/*     margin-top: 10px; */
/*     margin-right: 0px; */
/*     padding-right: 0px; */
/* } */

#iconeBuscar{
    font-size: 25px;
    margin-top: 10px;
}

#buscarDoBanner{
    margin-top: 10px;
}

#iconeEnvio{
font-size: 25px;
}

#iconeCartao{
font-size: 25px;
}

    #formLoginFunc{
    padding: 10px;
}

@media screen and (min-width: 480px) {
    #buscarDoBanner{
        margin-top: 60px;
    }

    #iconeBuscar{
        font-size: 25px;
        margin-top: 60px;
    } 
}

#divMenu {
	text-align:center;
}


.center {
	text-align: center;
}

#divdescricao ul {
	list-style-type: none;
}


.botaocarrinho {
	border: solid 1px green;
	padding: 10px;	
	border-radius: 5px;
	width: 80%;
	color: green;
}










